html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

header {
	color: #fff;
}

.container {
	width: 1230px;
	margin: 0 auto;
}

.logo {
	margin-top: 40px;
	margin-left: 30px;
	float: left;
}


.logos,
.icon-cart,
.icon-search {
	transition: .5s;
}

.logos:hover,
.icon-cart:hover,
.icon-search:hover {
	transform: rotate(360deg);
}

.waxom {
	margin-bottom: 15px;
}

nav {
	float: right;
	margin-top: 46px;
	margin-right: 30px;
}

nav li,
.projects li {
	display: inline-block;
	list-style: none;
	margin-left: 1em;
}

/*@media all and (min-width: 992px) and (max-width: 1250px) {
	nav li {
		margin-left: 5%;
	}
}*/

nav li a,
.projects li a,
.readMore a {
	font-family: Montserrat;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

nav ul li a:hover {
	color: #c7b29a;
}

nav ul .active a {
	color: #c7b29a;
}

main {

}

.slider {
	font-family: Raleway;
	color: #fff;
	width: 100%;
	height: auto;
	background-image: url('images/slider1.png');
	background-repeat: no-repeat;
	background-size: cover;
}

/*@media all and (max-width: 1880px) {
	.slider {
		background-size: contain;
	}
}*/


.containerMain1 {
	clear: both;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 60%;
}

@media all and (max-width: 1200px) {
	.containerMain {
		height: 40%;
	}
}

.sliderLeft {
	margin-left: 5em;
}

.sliderRight {
	margin-right: 5em;
}

.sliderRight a:hover img,
.containerMain2 .icons a:hover img,
.containerMain7 .arrows a:hover img {
	transform: scale(1.2);
}

.containerSlider h1 {
	font-size: 52px;
	font-weight: 700;
	text-align: center;
}

.containerSlider h2 {
	font-size: 36px;
	font-weight: 500;
	text-align: center;
}

.containerSlider p {
	max-width: 566px;
	margin: 0 auto;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
}

.button a {
	display: block;
	width: 170px;
	height: 53px;
	margin: 52px auto;
	border-radius: 3px;
	background-color: #998675; 
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 700;
	line-height: 53px;
}

.button a:hover {
	color: #998675;
	background-color: #fff;
	transform: scale(1.2);
}

.pagesSlader {
	padding: 5em 0 2em 0;
	text-align: center;
}

.containerMain2 {
	display: flex;
	justify-content: space-between;
	margin: 5em auto 80px;
}

.icons {
	height: 40px;
	text-align: center;
}

article h3 {
	font-family: Raleway;
	color: #555;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
}

.containerMain2 .active h3 {
	color:  #c7b299;
}

.containerMain2 article p,
.articlesProject article p,
.main7Inside p,
.containerFooter div p {
	font-family: Montserrat;
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
}

.underscores {
	margin-top: 1.5em;
	text-align: center;
}

.containerMain3,
.containerMain6 {
	width: 100%;
	height: 100%;
	background-color: #fbfaf8;
	padding-top: 80px;
}

.main3Inside,
.browser,
.projects {
	width: 768px;
	margin: 0 auto;
}

h2,
p {
	text-align: center;
}

.main3Inside h2,
.projects h2,
.main6Right h2,
.containerMain7 h2 {
	font-family: Raleway;
	color:  #555;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

.main3Inside p,
.projects p,
.containerMain5 p,
.main6Right p,
.main6Right li,
.containerMain7 p {
	font-family: Montserrat;
	color:  #8c8c8c;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	text-align: center;
}

.containerBrowser {
	height: 482px;
}

.browser {
	position: relative;
}

.browser img {
	position: absolute;
	display: block;
}

.browser img:first-child {
	z-index: 1;
}

.browser img:nth-child(2) {
	z-index: 0;
	left: -30%;
	bottom: -482px;
}

.browser img:nth-child(3) {
	z-index: 0;
	right: -30%;
	bottom: -482px;
}

.underBrowser,
.underMain6 {
	clear: both;
	width: inherit;
	height: 150px;
	background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
	background: linear-gradient(90deg, #211b19 0%, #4e3427 100%); 
}

.containerUnder {
	float: left;
	margin-left: 30px;
}

.containerUnder h4 {
	font-family: Raleway;
	color: #fff;
	font-size: 28px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 8px;
}

.containerUnder h4 span {
	color: #c7b299;
}

.containerUnder p {
	font-family: Montserrat;
	color:  #615855;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	margin-top: 0;
}

.buttonBrowser {
	height: 50px;
	border-radius: 3px;
	float: right;
	margin-right: 30px;
}

.containerMain4,
.containerMain8 {
	margin: 80px auto;
}

.projects ul {
	display: flex;
	padding-left: 0;
	margin: 40px auto;
}

.projects li {
	margin: auto;
	text-align: center;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color:  #ebebeb;
	box-sizing: border-box;
	background-color:  rgba(17, 17, 17, 0);
}

.projects li:first-child {
	background-color: #998675;
	width: 70px;

}

.projects li a {
	line-height: 32px;
	padding: 0 18px;
	color:  #8c8c8c;

}

.projects li:first-child a {
	color: #fff;
}

.projects li:hover {
	background-color: #998675;
}

.projects li:hover a {
		color: #fff;
}

.articlesProject {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 30px;
	align-items: end;
}

.articlesProject article {
	background-color:  #fbfaf8;
	margin-right: 40px;
}

.articlesProject article:nth-child(2),
.main7Inside article:nth-child(2) {
	background-color: #362f2d;
}

.photosProject {
	position: relative;
}

.deltaProjects {
	position: absolute;
	bottom: 0;
	left: 5%;
}

.linkProject {
	position: absolute;
	top: 45%;
	left: 38%;
}

.lupaProject {
	position: absolute;
	top: 45%;
	left: 54%;
}

.linkProject a:hover img,
.lupaProject a:hover img {
	transform: scale(1.3);
}

.articlesProject article h3,
.main7Inside h3 {
	font-family: Raleway;
	color:  #c7b29a;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	margin: 20px 28px 0;
}

.articlesProject article:nth-child(2) h3 {
	color:  #fff;
}

.articlesProject article p {
	color:  #d1d1d1;
	line-height: 20px;
	text-align: left;
	margin: 0 28px 20px;
}

.articlesProject article:nth-child(2) p {
	color:  #c7b299;
}

.buttonLoad a,
.buttonLoad a:hover {
	border: 1px solid #998675;
}

.containerMain5 {
	width: 100%;
	height: auto;
	background-image: url('images/photovideoPrese.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.containerMain5 div {
	text-align: center;
	padding-top: 150px;
}

.player {
	background: url('images/icon-play.svg') no-repeat center bottom;
}

.player:hover {
	cursor: pointer;
	background: none;
}

.containerMain5 h2 {
	font-family: Raleway;
	color:  #fff;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 44px;
}

.containerMain5 p {
	color: #fff;
	max-width: 552px;
	margin: 0 auto;
}

.containerMain5 p+p {
	font-family: Montserrat;
	color:  #c7b299;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 40px;
	padding-bottom: 207px;
}

.main6Left {
	float: left;
	height: 616px;
}

.main6Right {
	float: right;
	max-width: 657px;
	padding-top: 115px;
}

.main6Right h2,
.main6Right p,
.main6Right li {
	text-align: left;
}

.main6Right p {
	margin-bottom: 50px;
}

.main6Right li {
	list-style: none;
	background: url('images/str.png') no-repeat;
	padding-left: 50px;
} 

.underMain6 {
	height: 300px;
}

.container6 {
	display: flex;
}

.container6 div {
	margin: 60px auto 53px;
	text-align: center;
}

.numbers {
	font-family: Montserrat;
	color:  #fff;
	font-size: 48px;
	font-weight: 200;
	line-height: 36px;
	text-align: center;
	margin: 30px auto 21px;
}

.namesNumbers {
	font-family: Montserrat;
	color:  #c7b299;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
}

.main7Inside {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	margin: 30px;
}

.dataPhoto {
	position: relative;
}

.dataPhoto .dataPost {
	position: absolute;
	top: 11%;
	left: 5.4%;
	z-index: 1;
}

.pagesPhoto {
	position: absolute;
	bottom: 9%;
	left: 40%;

}

.descript7 {
	padding: 24px 24px 27px;
}

.main7Inside h3 {
	margin: 0; 
	color:  #555;
}

.main7Inside p {
	line-height: 22px;
	text-align: left;
}

.main7Inside .readMore {
	margin: 23px 0 0;
}

.readMore a {
	color:  #c7b299;
	font-weight: 300;
	line-height: 20px;
	padding: 10px;
}

.readMore a:hover {
	
	border-radius: 3px;
	background-color: #c7b299;
	color: #fff;
}

.readMore img {
	margin-left: 7px;
}

.arrows {
	text-align: center;
	margin-top: 40px;
}

.containerMain8 {
	background: url('images/photolast.png') no-repeat;
	background-size: cover;
	margin-bottom: 0;
}

.main8Inside {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	min-height: 489px;
} 

.containerMain8 div {
	margin: auto;
}

.footerInside {
	background-color: #191919;
	min-height: 508px;
}

.containerFooter {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 30px;
	padding: 80px 0;
}

.footerColumn4 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

.footerLogo {
	margin-bottom: 29px;
}

.footerColumn h4 {
	font-family: Raleway;
	color:  #fff;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
}

.containerFooter .footerColumn p {
	color: #545454;
	text-align: left;
}

.containerFooter .footerColumn .readMore {
	margin: 31px 0 0;
}

.containerFooter .footerColumn .readMore a {
	color:  #c7b299;
}

.containerFooter .footerColumn .readMore a:hover {
	color:  #fff;
}

.footerColumn p a {
	color: #00bff3;
	text-decoration: none;
}

.footerColumn data,
.footerColumn time {
	font-family: Montserrat;
	color: #363636;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	text-align: left;
}

.footerColumn data:nth-child(5) {
	color: #fff;
}

.footerColumn p:nth-child(6) {
	color:  #c7b299;
}

.footerColumn hr {
	border-color: #252525;
}

.footerColumn span a,
.rights a {
	color:  #959595;
	text-decoration: none;
}

.rights {
	background-color: #111;
	min-height: 111px;
}

.rights p {
	font-family: Montserrat;
	color:  #545454;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	text-align: left;
	margin: 0;
	padding: 45px 10px 52px;
	float: left;
}

.rights .faq a {
	color: #c7b299;
	text-decoration: none;
}

.rights .rightsRight {
	float: right;
}


@media all and (min-width: 992px) and (max-width: 1260px) {
	
	.container {
		width: 950px;
		margin: 0 auto;
	}

	.containerMain3 {
		overflow: hidden;
	}

	.articlesProject {
	    grid-template-columns: repeat(2, 1fr);
	}

	.articlesProject article {
		width: 370px;
		margin: 0 auto;
	}

	.main6Right {
    	max-width: 527px;
    }

    .main7Inside article:nth-child(3) {
		display: none;
	}
}

@media all and (min-width: 768px) and (max-width: 991px) {

	.container {
		width: 768px;
		margin: 0 auto;
	}

	.browser {
		position: static;
	}

	.browser img {
		position: static;
		display: block;
		float: left;
	}

	.articlesProject {
	    grid-template-columns: repeat(2, 1fr);
	}

	.main6Right,
	.main6Left {
		float: right;
	    margin-right: 50px;
	    padding-top: 0;
	}

	.main7Inside {
		margin: auto;
	}

	.main7Inside article:nth-child(3) {
		display: none;
	}

	.main8Inside,
	.containerFooter {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 1fr 1fr;
	}

	.rights p {
		padding: 10px;
	}

	.rights .rightsRight {
	    float: left;
	}

}

@media all and (min-width: 480px) and (max-width: 767px) {
	
	.container {
		width: 480px;
		margin: 0 auto;
	}

	nav {
		margin-top: 20px;
	}

	nav li {
		margin-top: 10px;
	}

	.containerMain2,
	.main7Inside {
		flex-direction: column;
		margin-bottom: 50px;
	}

	.underscores {
	    margin: 1.5em;
	}

	.containerMain3, 
	.containerMain6, 
	.main6Right {
	    padding-top: 50px;
	}

	.main3Inside,
	.browser,
	.projects {
		width: inherit;
		margin: 0 auto;
	}
	.browser {
		position: static;
	}

	.browser img {
		position: static;
		display: block;
		float: left;
		width: inherit;
	}

	.underBrowser {
	    height: 300px;
	}

	.projects ul {
	    flex-direction: column;
	    padding-left: 0px;
	}

	.projects li:first-child {
	    width: auto;
	}

	.projects li {
	    margin: 0;
	}

	.articlesProject {
	    grid-template-columns: 1fr; 
	    grid-template-rows: repeat(6, 1fr);
	}

	.articlesProject article {
    	margin: 0 auto;
	}

	.main7Inside article:nth-child(3),
	.main7Inside article:nth-child(2) {
		display: none;
	}

	.main8Inside,
	.containerFooter {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 1fr 1fr;
	}

	.rights p {
		padding: 10px;
	}

	.rights .rightsRight {
	    float: left;
	}
}